extends layout

block content
  header
    .header-info-container
      p.header-info--item.header-info--phone-number 415.505.1530
      a.header-info--item.header-info--email(href='mailto:thewatsonorlando@gmail.com', target='_blank')
        p thewatsonorlando@gmail.com
    ul.header-navigation
      li.active: a(href="#about"): h4 About
      li: a(href="#skills"): h4 Skills
      li: a(href="#experience"): h4 Experience
      li: a(href="#education"): h4 Education
      li: a(href="#work"): h4 Work
      li: a(href="#contact"): h4 Contact
  .body
    section#about
      img.avatar(src='/images/avatar.jpg')
      .about
        h1.name Orlando Watson
        p.profession Frontend Developer
        p.info
          | My name is Orlando Watson. I am a Frontend Web Developer from Jamaica. I started web development in my freshman year of undergrad
          | and fell in-love with it instantly. I love exploring design and interaction trends for web. I develop websites, icons and logos.
        .about-buttons
          a.button.resume-button(href="#") Resum&egrave;
          a.button.work-button(href="#work") See Work

    .section-divider
      h2 Skills

    section#skills
      ul.skills--professional-skills
        h2.skill-heading.prof Professional Skills
        each skill in proSkills
          li.skill-item
            p.skill #{skill.name}
            .skill-item--level
              span.percent(class="#{skill.level}")
      ul.skills--personal-skills
        h2.skill-heading.pers Personal Skills
        each skill in perSkills
          li.skill-item
            p.skill #{skill.name}
            .skill-item--level
              span.percent(class="#{skill.level}")
    
    .section-divider
      h2 Work Experience
    
    section#experience
      each work in workExp
        .experience
          p.title= work.title
          p.date= work.date
          p.description= work.description
  footer
